@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", serif; */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

#hero {
  /* background-color: tomato; */
  /* background-image: url(../assets/hero-bg.png); */
  background: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/hero-bg.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 726px;
  /* margin-left: auto;
    margin-right: auto; */
  margin: 0 auto;
}

#hero .hero-content .subtitle {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .description {
  opacity: 0.7;

  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
}

.btn {
  padding: 14px 18px 14px 18px;

  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;

  border-radius: 8px;

  background: rgb(82, 195, 3);
  border: none;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
