h2{
    font-size: 30px;
    text-decoration: overline;
}

.second{
    /* visibility: hidden; */
    display: none;
}

.blog{
    box-shadow: 5px 5px 5px #888888;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    height: 300px;
    /* background-color: #f1f1f1; */
    background-image: url("bike.jpg");
    background-size: cover;
    background-repeat: none;
}