*{
    margin: 0px;
}
.parent{
    padding: 25px;
    background-color: yellow;
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    gap: 5px;
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    height: 350px;
    /* align-items: start; */
    align-items: center;

}

.child{
    border: 2px solid black;
    background-color: lightblue;
    /* padding: 2px; */
    /* font-size: 15px; */
    /* display: inline; */
    /* margin: 2px; */
}